<% if (title) { %>
  <h1>
      <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>
      <%- messages() %>

<% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<p>Confirm Deletion - The delete is permanent.</p>

<form action="/inv/delete-vehicle" method="post">
    <p class="form-pair">
        <label for="classification_id" class="required">Classification</label>
    </p>
    <!-- inventory make -->
    <p class="form-pair">
        <label for="inv_make" class="required">Make</label>
        <input 
            type="text" 
            id="inventory_make" 
            name="inv_make" 
            class="form-input" 
            placeholder="Enter the make of the inventory item"
            required
            readonly
            value="<%= locals.inv_make %>"
        >
    </p>
    <!-- inventory model -->
    <p class="form-pair">
        <label for="inv_model" class="required">Model</label>
        <input 
            type="text" 
            id="inventory_model" 
            name="inv_model" 
            class="form-input" 
            placeholder="Enter the model of the inventory item"
            required
            readonly
            value="<%= locals.inv_model %>"
        >
    </p>
    <!-- inventory year -->
    <p class="form-pair">
        <label for="inv_year" class="required">Year</label>
        <input 
            type="number" 
            id="inventory_year" 
            name="inv_year" 
            class="form-input" 
            placeholder="Enter the year of the inventory item"
            required
            readonly
            value="<%= locals.inv_year %>"
        >
    </p>
    <!-- inventory price -->
    <p class="form-pair">
        <label for="inv_price" class="required">Price</label>
        <input 
            type="number" 
            id="inventory_price" 
            name="inv_price" 
            class="form-input" 
            placeholder="Enter the price of the inventory item"
            required
            readonly
            value="<%= locals.inv_price %>"
        >
    </p>
    
    <button type="submit" class="form-button">Delete Vehicle</button>

    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>

</form>